.categories {
  max-width: 20%;
  height: 100%;
  padding: 0.5vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 3.5px;
  align-items: flex-start;
  overflow: auto;
  background-color: var(--base-cinza);
  box-shadow: 5px 0px 10px rgba(5, 5, 5, 0.993);
}

.categories > label {
  font-size: 13pt;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  color: var(--base-branco);
}

.categories > label:hover {
  color: rgb(1, 114, 180);
}
